span:not(:empty):not([class*="icon"]):not([id*="icon"]):not(
    [class*="star"]
  ):not([id*="star"]):not([id*="rating"]):not([class*="rating"]):not(
    [class*="prite"]
  ) {
  background-image: none !important;
  background-color: transparent !important;
}

li a:not([class*="icon"]):not([id*="icon"]):not([onclick]),
dt a:not([class*="icon"]):not([id*="icon"]):not([onclick]) {
  text-indent: 0 !important;
  background-image: none !important;
}

table {
  border-color: #333 !important;
  background-image: none !important;
  background-color: #232323 !important;
}

html body input:not([type="image"]):not([type="file"]),
button:not(._1eCDN):not(.ui-button--primary),
html body textarea,
.btn {
  opacity: 1 !important;
  color: #ddd !important;
  border-radius: 0 !important;
  -moz-appearance: none !important;
  -moz-border-radius: 0 !important;
  /* border: solid 1px #444 !important; */
  background-image: none !important;
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
  background-color: transparent !important;
}

html body input[type="checkbox"] {
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
}

html body input[type="radio"] {
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
}

html:root input[type="button"],
html:root input[type="submit"],
html:root input[type="reset"],
html:root button:not(._1eCDN):not(.ui-button--primary) {
  color: #eee !important;
  background-image: none !important;
  /* background-color: #3c3c3c !important; */
  border: none;
}

html:root input[type="button"]:hover,
html:root input[type="submit"]:hover,
html:root input[type="reset"]:hover,
html:root button:not(._1eCDN):not(.ui-button--primary):hover {
  color: #fff !important;
  border-color: #5f687f !important;
  background-image: none !important;
  background-color: #31344f !important;
}

select,
option,
optgroup {
  color: #f1f1f1 !important;
  border-color: #555 !important;
  -moz-appearance: none !important;
  background-image: none !important;
  background-color: #383838 !important;
}

select + div[aria-hidden="true"] {
  background-color: #383838 !important;
}

[id*="top"]:empty,
[id*="round"]:empty,
[id*="bottom"]:empty,
[class*="top"]:empty,
[class*="Top"]:empty,
[class*="spacer"]:empty,
[class*="bottom"]:empty,
[class*="Bottom"]:empty,
img[src*="spacer"]:empty {
  background-image: none !important;
}

nav,
menu,
html body [id*="popup"],
html body [class*="note"],
html body [class*="open"],
html body [id*="Dropdown"],
html body [id*="dropdown"],
html body [class*="popup"],
html body [class*="detail"],
html body [class*="card"],
html body [class*="tooltip"],
html body [class*="Dropdown"],
html body [class*="dropdown"] {
  background-image: none !important;
  background-color: #232323 !important;
}

*:not(span[class*="Í¼"]) {
  color: #ccc !important;
  text-shadow: none !important;
  border-color: #444 !important;
  outline-color: #444 !important;
}

.cm-line,
span[id*="fileName"] {
  color: #ccc;
}
.Í¼1g,
.Í¼1d {
  color: #ccc !important;
}

iframe *,
iframe body#tinymce {
  color: #ccc !important;
  text-shadow: none !important;
  border-color: #444 !important;
  outline-color: #444 !important;
}

html *:after,
html *:before:not(input[type="radio"] + span) {
  color: #ccc !important;
  border-color: #666 !important;
  background-color: transparent !important;
}

a:link:not(._1eCDN):not(.ui-button--primary),
a:link *:not(img):not(.theme-editor__thumb):not() {
  color: #f4f5fa !important;
  border-color: #666 !important;
  background-image: none !important;
  /* background-color: rgba(0, 0, 0, 0.9) !important; */
}

html [href*="#"]:hover {
  color: #b3bcf5 !important;
  background-image: none !important;
  background-color: transparent !important;
}

[onclick],
[ondblclick],
[onmousedown] {
  color: #b3bcf5 !important;
  text-indent: 0 !important;
}

::-moz-selection {
  color: #b3bcf5 !important;
  background-color: #626f61 !important;
}

div.vsc:hover > .vspi,
div.vso > .vspi {
  border: none !important;
  background-color: transparent !important;
}

img {
  opacity: 0.75 !important;
}

.current {
  color: #fff !important;
}

hr {
  background-color: #444 !important;
}

svg {
  background-color: #666 !important;
}

dt {
  background-color: #2b3135 !important;
}

address {
  background-color: #333 !important;
}

input *,
textarea * {
  color: #ddd !important;
}

table table {
  background: #191919 !important;
}

li,
ul {
  background-color: inherit !important;
}

h3,
h4 {
  background-color: #2a3731 !important;
}

h1,
h2 {
  background-color: #28313e !important;
}

h5,
h6 {
  background-color: #372a2a !important;
}

dl,
dd {
  background-color: #232323 !important;
}

div[id] {
  background-color: inherit !important;
}

.ui-modal,
.modal {
  border: 1px solid #333;
}

.g .r {
  background-color: transparent !important;
}

html,
body {
  background-color: #141414 !important;
}

body *,
body .domain-data-table__row {
  background-color: transparent !important;
}

body *:not([style*="background-image"]):not(a):not(button) {
  background-image: none !important;
}

body li:not([style*="background-image"]):not(a):not(button),
body tr:not([style*="background-image"]):not(a):not(button) {
  background-color: transparent !important;
}

select,
option,
optgroup {
  background-color: #383838 !important;
}

a:visited,
a:visited * {
  color: #f4f5fa !important;
}

#header h1 {
  background-color: transparent !important;
}

summary,
details {
  background-color: inherit !important;
}

html:root input[type="image"] {
  opacity: 0.85 !important;
}

abbr,
progress,
time,
label,
.date {
  color: #f9fafb !important;
}

html:root input[type="image"]:hover {
  opacity: 0.95 !important;
}

@-moz-document url(about:blank) {
  html {
    background-color: #000;
  }
}

browser[type="content-primary"] {
  background-color: #141414 !important;
}

[onclick]:hover,
[ondblclick]:hover,
[onmousedown]:hover {
  color: #b3bcf5 !important;
}

header,
#header {
  background: -moz-linear-gradient(#333, #141414) transparent !important;
}

[id*="masthead"] a,
[id*="header"] a,
[id*="logo"] a,
[class*="logo"] a {
  text-indent: 0 !important;
}

mark,
code,
pre,
blockquote,
[class*="quote"],
td[style*="inset"][class="alt2"] {
  background-color: #00090f !important;
}

td {
  box-shadow: none !important;
}

li[class*="item"] a:hover,
li[class*="item"]:hover,
[class*="menuitem"]:hover {
  background-color: #2e2b2f !important;
}

/* html:root>body>*>*>*>*:not(input):not([onclick])>div:not(:empty):not([id]) {
    background-color: #141414 !important
  } */

div[role="alert"],
div[role="status"],
.ui-banner,
.ui-contextual-banner,
.bulk-actions__main-bar,
.ui-button,
.CodeMirror-dialog {
  background-color: #1c1c1c !important;
}

div[role="dialog"] {
  background-color: transparent !important;
}

div[role="dialog"] > div:first-child {
  border: 1px solid #333;
  background-color: #141414 !important;
}

html:root body [class*="layer"],
html:root body #lightbox-nav,
html:root body #imageContainer {
  background-color: transparent !important;
}

#AppFrameTopBar {
  background-color: #141414 !important;
}

div[data-polaris-scrollable="true"] {
  background-color: #141414 !important;
}

div[testid="ResourceList-Header"],
#ResourceList-Header,
._2Ccah,
.te-panel__header,
.te-sidebar__content,
.theme-editor .next-tab__container,
.te-panel__wrapper,
.te-panel__search,
div[class*="te-panel"] {
  background-color: #141414 !important;
}

rect {
  fill: #141414 !important;
}

div[style*="--p-frame-offset"] > div:first-child {
  background-color: #141414 !important;
}

.ui-resource-list-item__link {
  display: none;
}

.next-radio,
input[type="radio"].next-radio,
[type="radio"].next-radio.autocomplete-field,
.next-checkbox,
input[type="checkbox"].next-checkbox,
[type="checkbox"].next-checkbox.autocomplete-field {
  left: 0px !important;
  top: 0.15em !important;
  width: 16px !important;
  height: 16px !important;
}

span:not(:empty):not([class*="icon"]):not([id*="icon"]):not(
    [class*="star"]
  ):not([id*="star"]):not([id*="rating"]):not([class*="rating"]):not(
    [class*="prite"]
  ).badge {
  background-color: #000 !important;
}

html body .login-card,
html body .login-card__header,
html body .login-card__content,
html body .main-card-section,
html body .login-card__logo {
  background-color: transparent !important;
}

div[style*="fixed"] {
  background-color: #141414 !important;
}

input[id*="PolarisTextField"] {
  border-left: 0px;
}

body .account-picker__item:focus .account-picker__item-backdrop,
body .account-picker__item:hover .account-picker__item-backdrop {
  background-color: transparent !important;
}

.template-editor-tab-bar__action::before {
  background: none !important;
}

li[class*="Polaris-ResourceItem__ListItem"]
  div[class*="Polaris-ButtonGroup__Item"] {
  background-color: #000 !important;
}

div[class*="Polaris-TopBar__SearchField"] > div[role="none"] > div {
  background-color: #141414 !important;
}

#SettingsDialog {
  background-color: #141414 !important;
}

a[type="button"]:visited > div > span > span {
  color: #7c7c7c !important;
}
